.extradata{
  position: relative;
  width: 100%;
  height: 74px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background:#add8e6;
  display: flex;
  align-items: center;

}
.extraboxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
.extraboxes i{
    size: 2rem;
}
.extraboxes p{
  font-size: 25px;
  font-weight: 600;
}
@media only screen and (max-width:469px){
  .extradata{
    margin-top: auto;
    height: 115px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}



